{{ define "main" }}
    <div class="center">
        <div class="content">
            <p>I am temporarily suspending my activity until October 18, 2024.</p>
            <p>Until then, I'll be online for a while for chating, but I definitely won't be developing new stuff.</p>
            <p>Once the above date passes, expect a new website, the layout of which is already done, and new content from me. See you in the future!</p><br/>
            <p><a href="https://t.me/lumaeris">Active channel in Telegram (mostly in russian)</a></p>
            <p>&mdash; Jill <img src="assets/img/logo.svg" alt="Logo"></p>
            <a href="https://mstdn.social/@lumaeris" rel="me" style="display: none;">m</a>
        </div>
    </div>
{{ end }}
